/* Formatação Gerais */

*{
	margin: 0px;
	padding: 0px;
	font-family: Arial,Helvetica, sans-serif;
}

p{
	text-align: justify;
}

h2+p{
	font-style: italic;
	margin: 5px 20px;
}

a{
	text-decoration: none;
}
body {
	background-color: black;
}

#titulo{
	text-align: center;
	color: white;
	background-color: #DF013A;
	padding: 10px ;
	margin-left: 15%;
	font-size: 2.5em;

}

#bloco-principal {
	width: 90%;
	background-color: #D3D3D3;
}

#conteudo {
	font-size: 1em;
	width: 85%;
	float: right;
	background-color: #2E9AFE;
	border: 1px solid red;
}

#conteudo p{
	font-size: 1em;
}

#conteudo h2{
	font-size: 1.3em;
	font-style: bold;
}

#coluna-central {
	width: 45%;
	float: left;
}

#coluna-lateral {
	width: 55%;
	float: right;
}

#rodape {
	clear: both;
	margin-left: 70px;
}

#rodape *{
	text-align: center;
}

#rodape h2 {
	font-size: 0.8em;
	font-style: bold;
}

#rodape p{
	font-size: 0.7em;
}

#rodape h2+p{
	border: 1px solid red;
}

#menu-navegacao {
	width: 15%;
	float: left;
	margin-top: 40px;
}

#menu-navegacao a{
	color: red;
	float: left;
}
#coluna-central h2 {
	text-align:center;
}
#coluna-lateral h2 {
	text-align: center;
}

a:hover {
	background-color: black;
	color: white;
}